@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-dark text-white;
    --webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}


::-webkit-scrollbar-track {
    background: #4C6FBF;
}


::-webkit-scrollbar-thumb {
    background: #4C6FBF;
}

.container {
    @apply w-4/5 m-auto
}

.shape {
    background: linear-gradient(to bottom, #1d1d33, #13131F);
    border-bottom: #00B37E solid 2px;
    border-top: #00B37E solid 2px;
}

.degrade {
    background: linear-gradient(to bottom, #1d1d33, #13131F);

    
}

.degradeButton {
    background: linear-gradient(to top, #00B37E, #05da9a);
}

.degradeButton:hover {
    background: linear-gradient(to top, #00B37E, #07e2a1);
}


.card {
    background: linear-gradient(to top, #12121f, #13131F);
    border: #4C6FBF solid 2px;

}


/* Animações globais */

.animation-transition-left {
    animation: opacity-layer 1s ease-in, transition-layer-left 1s ease-in;
}

.animation-transition-right {
    animation: opacity-layer 1s ease-in, transition-layer-right 1s ease-in;
}

.animation-transition-top {
    animation: opacity-layer 1s ease-in, transition-layer-top 1s ease-in;
}

@keyframes opacity-layer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes transition-layer-left {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes transition-layer-right {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes transition-layer-top {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}


/* imagens dos projetos */

.projeto-1 {
    background-image: url(../../public/assets/naped-project.png);
    background-size: cover;
    background-position: top;
    box-shadow: 5px 15px 15px #13131F ;
}

.projeto-2 {
    background-image: url(../../public/assets/academia-project.png);
    background-size: cover;
    background-position: top;
    box-shadow: 5px 15px 15px #13131F ;
}

.projeto-3 {
    background-image: url(../../public/assets/rachi-project.png);
    background-size: cover;
    background-position: top;
    box-shadow: 5px 15px 15px #13131F ;
}